<launch>
    
    <!-- Axes -->
    <param name="scale_linear" value="2" type="double"/>
    <param name="scale_angular" value="2" type="double"/>

    <node pkg="beginner_tutorials" type="talker"
          args="/talk" name="talker" />

    <arg name="record_flag" default="false"/>
    <node name="record" pkg="rosbag" type="record" args="-a -O $(find beginner_tutorials)/results/talkerData" if="$(eval record_flag == true)"/>
   
  </launch>